<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
    <title>SignUp</title>
</head>
<body>
<div id="form">
    <form th:action="@{/users/signUp}" th:object="${user}"
          method="post" enctype="multipart/form-data">
        <p style="color: red; font-size: 25px; text-align: center" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
        <h1 style="text-align: center; color: #6f6f6f ">SignUp</h1>
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" th:field="*{name}"/>
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" id="email" th:field="*{email}">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" th:field="*{password}"/>
        </div>
        <div>
            <label for="rePassword">Confirm Password</label>
            <input type="password" id="rePassword" th:field="*{rePassword}">
        </div>
        <input type="submit" value="SignUp" style="margin: 20px 73px"/>
    </form>
    <a th:href="@{/users/}" style="padding-left:199px;">Login</a>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>